*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
/* setting for runningtext */
.runningtext{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 10px;
    background-color: chocolate;
    color:white;
    font-size: 20pt;
    text-align: center;
    position: relative;
    clear: both;
}

/*setting for content*/
body{
background-color : #CCFFCC;
font-family : 'Verdana',arial,sans-serif;

}

p{
margin-bottom : 20px;
line-height : 1.5em;
    text-align: left;
    color: black;
    font-size : 20px;
}


/*to changed the setting -distance- line under text:menu*/
h3{
margin-bottom : 20px;
border-bottom : 5px solid #993300;
}

/* to changed the link color "homepage, ost, etc*/
a:link {
    text-decoration : none;
color : blue;
}

a:visited{
    color: dodgerblue
}
a:hover{
color : cornflowerblue;
}

/*setting for the main background */
.container{
max-width : 1080px;
margin : 20px auto;
background : #D6CCFE;
overflow : hidden; /*atur isi konten*/
padding : 20px;
}

/* setting for the "aladdin cast" */
.header{
    width: auto;
border : 1px solid #dedede;
padding : 100px;
margin : 30px;
background-image: url(gemey.jpg);
}

/* main */
/* setting for the left box border */
/*setting garis tepi kotak kiri*/
.left{
width : 250px;
border : 5px solid #993300;
padding : 10px;
margin : 10px;
float : left;
}
    .left ul{
list-style-type: none;
}

/* setting for the home,ost, etc border */
/* setting garis antara home, ost, etc*/
.left ul li a{
display : block;
border-bottom : 1px solid #993300;
margin-bottom : 10px;
padding : 10px 5px;
color    : chocolate;
}

.middle{
width : 600px;
border-color : 5px chocolate; /*garis tepi main box:biru*/
padding : 10px; /*atur jarak dengan tepi main box konten ini */
margin : 10px; /*atur jarak dengan header*/
float : left;
}

.middle img{
            max-width: 100%;
            height: auto;
        }

/* setting for the footer */
.footer{
clear : both;
border : 1px solid #dedede;
padding : 15px;
margin : 10px;
background-color: azure;
}

/* setting for responsive web */
@media screen and (max-width:959px){
#container{
width : 100%;
}
#left-column{
width : 70%;
}
img{
width : 100%;
}
}

/* setting for responsive web */
@media screen and (max-width:1080px){
.container{
width : 100%;
}

.left{
width :auto;
background : #D6CCFE;
}

.middle{
width : auto;
float : right;

}

}

/* untuk ukuran layar 700px kebawah */
@media screen and (max-width: 780px) {

    .header{
        width: auto;
        float: none;
    }
.footer{
text-align: center;
}
.left {
width: auto;
float: none;
}

.middle {
width: auto;
float: none;
}
}
