/*setting for body */

body {

background-color: darkorange;

    background-image: url("thumb-1920-176165.jpg");

font-family: arial, serif;

font-size: 12px;

line-height: 20px;

color: #222;

}

/* setting for running text*/
#runningtext{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 10px;
    background-color: lightpink;
    color:white;
    font-size: 20pt;
    text-align: center;
    position: relative;
    clear: both;
}

a {

  text-decoration: none;

color: orange;

  }



a:hover {

text-decoration: underline;

color: orangered;
 }


/* setting for main layout */
#wrap {

margin: auto;

width: 800px;

background: rgba(5, 20, 50, 0.7);

padding: 10px;

}

/* setting for header */

#header {

    width: 100%;

height: 250px;

    background-image: url("hiha.jpg");

}

/* setting for menu */
#menu {

    height: 30px;

    line-height: 30px;

    background: hotpink;

}

#menu ul {

list-style-type: none;

padding-left: 30px;

}

#menu ul li {

display: block;

float: left;

}

#menu ul li a {

padding: 0 20px 0 0;

text-decoration: none;

font-weight: 600;

font-size: 12px;

color: #fff;

}

#menu ul li a:hover {

color: #aaa;

text-decoration: none;

}


/* setting for content */
#content {

padding: 0 20px 20px 0;

}

.left {

float: left;

width: 800px;

padding-top: 10px;

}


/* setting for footer */
#footer{

width: 100%;

height: 50px;

margin-top: 5px;

padding-top: 10px;

background-color: pink;

opacity: 0.7;

    color: hotpink;

font-size: 16pt;

text-align: center;

position: relative;

clear: both;

}
