/* setting for body */
body {
	background-color: grey;
    background-image: url(marble.jpg);
	font-family:"Times New Roman", Serif;
	font-size: 12px;
	line-height: 20px;
	color: #222;
     }

/* setting for main layout */
.wrap {
    margin: auto;
	width: 850px;
    text-align: left;
	background: #fff;
	padding: 10px;
	border: 5px solid #000;
}

/* setting for menu */
.header {
height: 160px;
background: #554d42 url(yulli2.jpg) no-repeat;
}
.header h1 { 
font-size: 50px;
letter-spacing: -4px;
padding: 17px 0 0 10px;
color: grey;
}

/* setting for menu */
.menu {
height: 30px;
line-height: 30px;
background: #000;
}
.menu ul {
list-style-type: none;
padding-left: 30px;
}
.menu ul li {
display: block;
float: left;
}
.menu ul li a {
padding: 0 20px 0 0;
text-decoration: none;
font-weight: 600;
font-size: 12px;
color: #fff;
}
.menu ul li a:hover {
color: #aaa;
text-decoration: none;
}

/* settinf for content */
.content {
padding: 0 20px 20px 0;
}


.left {
float: left;
width: 600px;
text-align: justify;
padding-top: 5px;
}
.left h2 {
font-size: 18px;
font-weight: 100;
padding: 15px 0 7px 0;
}


.right {
float: right;
width: 225px;
padding-top: 25px;
padding-bottom: 10px;
}

/* setting for footer */
.footer {
    width: 100%;
	height: 50px;
	margin-top: 5px;
	padding-top: 10px;
	background-color: black;
    color: white;
	font-size: 16pt;
	text-align: center;
	position: relative;
	clear: both;
}
/* setting to make the web responsive */
 
@media screen and (max-width: 960px) {
    
	.header {
		position:inherit;
	}
    .header h1 { 
    font-size: 85px;
    letter-spacing: -5px;
    padding: 17px 0 0 10px;
    color: grey;
}
    .wrap {
		width: 80%;
		margin:25px auto;
	}
	.menu ul {
		width: 92%;
        text-align: center;
	}
 
	.menu ul {
		float:inherit;
	}
 
	.menu ul li {
		float:inherit;
		margin:0;
	}
 
	.menu ul li a {
		padding:15px;
		font-size: 16px;
	}
 .content {
		width:90%;
	}
 
	.left {
		float:inherit;
		margin:0 auto 25px;
		width:101%;
		border:1px solid #dedede;
		padding:5%;  
		background-color: black;
	}
    .right {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
        padding-bottom: 5%;
    }
    .footer{
        width: 112%;
    }
}
/* setting to make the web responsive in mobile device */
@media screen and (max-width: 460px) {
    .menu ul a {
		padding:15px;
		font-size: 14px;
	}
 
	.content {
		margin:25px auto;
	}

}
